<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>신규 장비 등록</title>
    
   
      <link rel="stylesheet" href="../static/css/test.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
      <script src='http://code.jquery.com/jquery-latest.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src='../static/js/bootstrap.js'></script>

      <style>
        .main_contents{
          margin-top: 50px;
          margin:0 auto;
          width:80%;
        }
      </style>
  </head>
  <body style="background-color: white;">
    <nav class="navbar navbar-expand-lg navbar-dark ">
  
      <a class="navbar-brand" href="http://127.0.0.1:8000/admin_main/">성공아 부탁해</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              실습장비 관리
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="container">
                <div class="row">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/admin_equipment/">실습장비 등록</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/admin_equipment_detail/">실습장비 관리</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/admin_main/admin_renting/">실습장비 대여</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./admin_equipment_return.html">실습장비 반납</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              대여 내역
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="container">
                <div class="row">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/admin_equipment_history/">대여 내역</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./admin_schedule.html">대여/반납 일정</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">로그아웃</button>
        </form>
      </div>
    </nav>
    <div class="container" style="text-align:center;margin-top: 50px;">
      <h2>신규 장비 등록</h2>
      <hr>
    </div>
    <div class="container main_contents">
      <form name="modifyFrm" action="http://127.0.0.1:8000/admin_equipment/" method="POST" accept-charset="utf-8">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCategory">카테고리</label>
            <select id="inputCategory" class="form-control" name="equipCode">
              <option disabled selected>카테고리 선택</option>
              {% for category in categories %}
              <option value="{{ category.equipCode }}">{{ category.equipName }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEquipID">장비 ID</label>
            <input type="text" name="equipID" class="form-control" id="inputEquipID" value="">
          </div>
        </div>
        <div class="form-group">
          <label for="datePicker">입고날짜(yyyy-mm-dd)</label>
          <input type="text" name="receivedDate" class="form-control" value="">
        </div>
        <div class="form-row">
        <fieldset class="form-group col-md-6">
          <div class="row">
            <legend class="col-form-label col-sm-6 pt-0">대여상태</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <div class="col-sm-5">
                  <input class="form-check-input" type="radio" name="isRented" id="gridRadios1" value="0" checked>
                  <label class="form-check-label" for="gridRadios1">
                  대여 가능
                  </label>
                </div>
                <div class="col-sm-5">
                  <input class="form-check-input" type="radio" name="isRented" id="gridRadios2" value="1" checked>
                  <label class="form-check-label" for="gridRadios2">
                    대여 중
                  </label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group col-md-6" style="float:right">
          <label for="inputStatus">기기상태</label>
          <select id="inputStatus" class="form-control" name="status">
            <option value="3" selected>상</option>
            <option value="2">중</option>
            <option value="1">하</option>
            <option value="0">불량</option>
          </select>
        </div>
      </div>
        <div class="mb-3">
          <label for="infoTextarea">기기 정보</label>
          <textarea class="form-control" name="equipInfo" id="infoTextarea"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
      </form>
    </div>
  </body>
</html>