<!DOCTYPE html>
<html lang="ko" >

<head>
  <meta charset="UTF-8">
  <title>AI챗봇 성공이</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="../static/css/chatbot.css">
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>

<body>

  <!-- Currently BROKEN!
Working prototype on meesrutten.me :) -->
<main class="page__main">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Gamja+Flower&display=swap" rel="stylesheet">
    <div class="block--background">
      <div class="chatbot__overview">
        <ul class="chatlist">
          <li class="bot__output bot__output--standard">안녕! 나는 성결대 AI챗봇 성공이야😘</li>
        </ul>
     
      </div>
      {% csrf_token %}
      <div class="chatbox-area">
        <form action="" id="chatform" method = "POST">
            <textarea placeholder="성공이에게 질문해주세요" id = "txt" class="chatbox" name="chatbox" resize: "none" minlength="2"></textarea>
            <input class="submit-button" type="submit" value="send" onclick="send_data();">
        </form>
      </div>
			    <div class="block--background"></div>
  </link>

</main>
  


</body>
<script>
    var sendForm = document.querySelector('#chatform'), // document는 웹페이지 그 자체임 id# class.
    textInput = document.querySelector('.chatbox'),
    chatList = document.querySelector('.chatlist'),
    userBubble = document.querySelectorAll('.userInput'),
    botBubble = document.querySelectorAll('.bot__output'),
    animateBotBubble = document.querySelectorAll('.bot__input--animation'),
    overview = document.querySelector('.chatbot__overview'),
    hasCorrectInput,
    imgLoader = false,
    animationCounter = 1,
    animationBubbleDelay = 600,
    input,
    previousInput,
    isReaction = false,
    chatbotButton = document.querySelector(".submit-button")


  function send_data(){
    user_txt = $('#txt').val();
    $.ajax({
        type:'POST',
        url:'aiAnswer/',
        data: {'text': user_txt },

        success:function(res){ // 성공하면
          console.log('성공');
          console.log(res.ans_txt);

          // 채팅박스 증가
          var aiResponse = document.createElement('li');
          // 성공이 박스 생성
          aiResponse.classList.add('bot__output');
          aiResponse.classList.add('bot__output--failed');
          // 성공이 박스에 텍스트 입력 
          aiResponse.innerHTML = res.ans_txt; //adds input of textarea to chatbubble list item
          //박스에 텍스트 넣기
          chatList.appendChild(aiResponse) //adds chatBubble to chatlist
          animateBotOutput();
          // reset text area input
          textInput.value = "";
          //Sets chatlist scroll to bottom
          chatList.scrollTop = chatList.scrollHeight;
          animationCounter = 1;
          console.log('띄워주기 성공');
          hasCorrectInput = true;
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); 
        }
   });
  }

// 엔터키 눌렀을 때 생성
sendForm.onkeydown = function(e){ 
  if(e.keyCode == 13){
    e.preventDefault();

    //No mix ups with upper and lowercases
    var input = textInput.value.toLowerCase();

    //Empty textarea fix
    if(input.length > 0) {
      createBubble(input)
      send_data(input)
    }
  }
};

// 마우스로 클릭했을 때 생성
sendForm.addEventListener('submit', function(e) {
  //so form doesnt submit page (no page refresh)
  e.preventDefault();

  //No mix ups with upper and lowercases
  var input = textInput.value.toLowerCase();

  //Empty textarea fix
  if(input.length > 0) {
    createBubble(input)
  }
}) //end of eventlistener

// 박스 생성
var createBubble = function(input) {  
  //create input bubble
  var chatBubble = document.createElement('li');
  chatBubble.classList.add('userInput');

  //adds input of textarea to chatbubble list item
  chatBubble.innerHTML = input;

  //adds chatBubble to chatlist
  chatList.appendChild(chatBubble)

  checkInput(input);
}



var checkInput = function(input) {
  hasCorrectInput = false;  // 입력창에 아무것도 없음
  isReaction = false;

  //Checks all text values in possibleInput
  
  for(var textVal in possibleInput){
    //Is a word of the input also in possibleInput object?
    if(input == textVal || input.indexOf(textVal) >=0 && isReaction == false){
			console.log("succes");
      hasCorrectInput = true;
      botResponse(textVal);
		}
	}

  
  //When input is not in possibleInput
  if(hasCorrectInput == false){
    console.log("개빡치네 왜안돼");
    //unknownCommand(unkwnCommReaction);
    hasCorrectInput = true;
  }
}



// debugger;
function botResponse(textVal) {
  //s ets previous input to that what was called
  // previousInput = input;

  //create response bubble
  var userBubble = document.createElement('li');
  userBubble.classList.add('bot__output');

  
  if(isReaction == true){
    if (typeof reactionInput[textVal] === "function") {
    //adds input of textarea to chatbubble list item
      userBubble.innerHTML = reactionInput[textVal]();
    } else {
      userBubble.innerHTML = reactionInput[textVal];
    }
  }


  if(isReaction == false){
    //Is the command a function?
    if (typeof possibleInput[textVal] === "function") {
      // console.log(possibleInput[textVal] +" is a function");
    //adds input of textarea to chatbubble list item
      userBubble.innerHTML = possibleInput[textVal]();
    } else {
      userBubble.innerHTML = possibleInput[textVal];
    }
  }
  //add list item to chatlist
  chatList.appendChild(userBubble) //adds chatBubble to chatlist

  // reset text area input
  textInput.value = "";
}

// 대답 text
function responseText(e) {

  var response = document.createElement('li');

  response.classList.add('bot__output');

  //Adds whatever is given to responseText() to response bubble
  response.innerHTML = e;

  chatList.appendChild(response);

  animateBotOutput();

  console.log(response.clientHeight);

  //Sets chatlist scroll to bottom
  setTimeout(function(){
    chatList.scrollTop = chatList.scrollHeight;
    console.log(response.clientHeight);
  }, 0)
}


//change to SCSS loop
function animateBotOutput() {
  chatList.lastElementChild.style.animationDelay= (animationCounter * animationBubbleDelay)+"ms";
  animationCounter++;
  chatList.lastElementChild.style.animationPlayState = "running";
}

function commandReset(e){
  animationCounter = 1;
  previousInput = Object.keys(possibleInput)[e];
}



// fixed 질문
var possibleInput = {
  // "hlep" : this.help(),
  "도와줘" : function(){
    responseText("밑의 입력칸에 성공이에게 물어보고 싶은걸 적어주세요!")
    responseText("예를 들자면, '성공아 지금 비어있는 실습실 있어?' 이렇게요 ㅎㅎ")
    responseText("만약 사용중에 문제가 있다면 @sunggong 으로 연락주세요😉")
    commandReset(0);
    return
    },
  "bb" : function(){
    responseText("칭찬해줘서 성공이는 행복해 ㅠ 나 더 잘해볼게 !!😆");
    commandReset(1);
    return
    },
  
	"hii" : function(){
    responseText("어떤걸 도와줄까?");
   
    commandReset(2);
    return
    },
  "온도" : function(){
		var weather= new XMLHttpRequest();
		weather.open("GET", "https://api.thingspeak.com/channels/725914/feeds.json?api_key=R8UXP1FFMCLN5G4E", false);
        weather.send(null);
        var r =JSON.parse(weather.response);
 celcius = Math.round(r.feeds[r.channel.last_entry_id-1].field1);
coverage = r.feeds[r.channel.last_entry_id-1].field2;
if (celcius >27){
    responseText("현재 온도는 "+celcius + "도야😊");
    responseText("덥다 ㅠㅠ 더운 날씨 조심해! 선크림 꼭 발라주기~");
  }
if (celcius<=27 && celcius >22){
    responseText("현재 온도는 "+celcius + "도야😊");
    responseText("따듯한 날씨니까 얇은 긴팔을 입으면 좋을 것같아!");
  }
if (celcius<=22 && celcius >17){
    responseText("현재 온도는 "+celcius + "도야😊");
    responseText("니트입기 딱 좋은 온도다! ");
}
if (celcius<=17 && celcius >10){
    responseText("현재 온도는 "+celcius + "도야😊");
    responseText("겉옷 꼭 챙겨! 감기걸릴라 ~ ");
}
if (celcius<=10 && celcius >0){
    responseText("현재 온도는 "+celcius + "도야😊");
    responseText("추워추워 ~ ");
}
if (celcius <= 0){
    responseText("현재 온도는 "+celcius + "도야😊");
    responseText("흐 너무 춥다 ㅠㅠ 손발은 항상 따듯해야해!");
}
    commandReset(2);
    return
    },
  
	"습도" : function(){
		var weather= new XMLHttpRequest();
		weather.open("GET", "https://api.thingspeak.com/channels/725914/feeds.json?api_key=R8UXP1FFMCLN5G4E", false);
        weather.send(null);
        var r =JSON.parse(weather.response);
 celcius = Math.round(r.feeds[r.channel.last_entry_id-1].field1);
coverage = r.feeds[r.channel.last_entry_id-1].field2;
    responseText("현재 습도는 "+coverage + "% 야😉");
    commandReset(2);
    return
    },

    // 단어 입력시  responseText나옴
  "experience" : function(){
    responseText("Mees has previously worked at:");
    responseText("Cobra Systems as web- developer / designer");
    responseText("BIT Students as web- developer / designer");
    responseText("MediaMonks as a junior Front-end Developer");
    commandReset(3);
    return
  },
  "hobbies" : function(){
    responseText("Mees loves:");
    responseText("Coding complicated chatbots");
    responseText("Family time");
    responseText("Going out with friends");
    responseText("Working out");
    commandReset(4);
    return
  },
  "interests" : function(){
    responseText("Mees loves:");
    responseText("Coding complicated chatbots");
    responseText("Family time");
    responseText("Going out with friends");
    responseText("Working out");
    commandReset(5);
    return
  },
  "vision" : function(){
    responseText("Things I want to learn or do:");
    responseText("Get great at CSS & JS animation");
    responseText("Create 3D browser experiences");
    responseText("Learn Three.js and WebGL");
    responseText("Combine Motion Design with Front-End");
    commandReset(6);
    return
  },
  "contact" : function(){
    responseText("email: <a href='mailto:meesrutten@gmail.com?Subject=Hello%20Mees' target='_top'>send me a message</a>");
    responseText("Twitter: <a href='https://twitter.com/meesrttn'>@MeesRttn</a>");
    commandReset(7);
    return
  },
  "commands" : function(){
    responseText("This is a list of commands Navvy knows:")
    responseText("help, best work, about, vision, experience, hobbies / interests, contact, rick roll");
    commandReset(8);
    return
  },
  "rick roll" : function(){
    window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
    },
}



var reactionInput = {
  "best work" : function(){
    //Redirects you to a different page after 3 secs
    responseText("On this GitHub page you'll find everything about Navvy");
    responseText("<a href='https://github.com/meesrutten/chatbot'>Navvy on GitHub</a>")
    animationCounter = 1;
    return
  },
  "about" : function(){
    responseText("Things I want to learn or do:");
    responseText("Get great at CSS & JS animation");
    responseText("Create 3D browser experiences");
    responseText("Learn Three.js and WebGL");
    responseText("Combine Motion Design with Front-End");
    animationCounter = 1;
    return
    }
}
</script>

</html>
