<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <link rel="stylesheet" href="../static/css/user_mypage.css">

  <link rel="stylesheet" href="../static/css/user_equipment.css">
  <link rel="stylesheet" href="../static/css/user_main.css">
  <link rel="stylesheet" href="../static/css/user_main_sidevar.css">
</head>

<body id="body-pd">
  <div class="main">
    <div class="l-navbar" id="navbar">
      <nav class="nav">
          <div>
              <div class="nav__brand">
                  <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                  <a href="http://127.0.0.1:8000/" class="nav__logo">Please, SungGong!</a>
              </div>
              <div class="nav__list">
                <a href="http://127.0.0.1:8000/" class="nav__link">
                  <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                  <span class="nav_name">HOME</span>
              </a>
                  <a href="http://127.0.0.1:8000/user_mypage/" class="nav__link">
                      <ion-icon name="person-circle-outline" class="nav__icon"></ion-icon>
                      <span class="nav_name">MYPAGE</span>
                  </a>

                  <div href="http://127.0.0.1:8000/equipinfo/" class="nav__link collapse">
                      <ion-icon name="construct-outline" class="nav__icon"></ion-icon>
                      <span class="nav_name">PRODUCT</span>

                      <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                      <ul class="collapse__menu">
                          <a href="http://127.0.0.1:8000/equipinfo/#notebook_equip" class="collapse__sublink">Equipment</a>
                          <a href="http://127.0.0.1:8000/equipinfo/#lab_equip" class="collapse__sublink">Lab</a>
                      </ul>
                  </div>

                  <a href="http://127.0.0.1:8000/user_history/" class="nav__link">
                      <ion-icon name="receipt-outline" class="nav__icon"></ion-icon>
                      <span class="nav_name">HISTORY</span>
                  </a>

                  <a href="#" class="nav__link">
                      <ion-icon name="notifications-outline" class="nav__icon"></ion-icon>
                      <span class="nav_name">NOTICE</span>
                  </a>
                  
                  
              </div>
              <a href="#" class="nav__link">
                  <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                  <span class="nav_name">LOG OUT</span>
              </a>
          </div>
      </nav>
  </div>


    <div class="mypage_top">

      <h2>
        {% for User in Users %}
        <strong class="name" style="font-size: pt;" style="font-weight: 500;">{{User.name}}</strong>
        님 안녕하세요
        {% endfor %}
      </h2>
      <div class="btn_01">
        <a title="비밀번호변경 바로가기" class="btn_pw" href="">비밀번호변경</a>
      </div>
      <div class="btn_01">
        <a title="사용자정보수정 바로가기" class="btn_re" href="" sizetype="px">사용자정보수정</a>
      </div>

    </div>

    <div class = "mypage_middle">
      
        <dl >

          {% for User in Users %}
          <dt>학번</dt>
          <dd>{{User.studentID}}</dd>
          <dt >Email</dt>
          <dd >
            {{User.email}}
          </dd>
          <dt >휴대폰번호</dt>
          <dd >{{User.phoneNum}}</dd>
          {% endfor %}

         
        </dl>
        
      </div>

      <div class = b_effect>
        <button class="custom-btn btn-12" onclick = 'user_history()'><span>바로가기!</span><span>대여 내역</span></button>

      </div>
      

</div>


    
  </div>

  <div class="button-container" id="scrollDownPc" class="hidden-md hidden-sm hidden-xs" >
    <a class="button1" href="http://127.0.0.1:8000/user_main/">
      <span class="content">성공AI</span>
      <span class="effect circle-1"></span>
      <span class="effect circle-2"></span>
    </a>
  </div>

  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <!-- JS -->
  <script src="../static/js/user_main_sidevar.js"></script>

  <script>
    function user_history()  {
     window.location.href = 'http://127.0.0.1:8000/user_history/'
    }
</script>



</body>

</html>