<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자메인</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/user_main_sidevar.css">
    <link rel="stylesheet" href="../static/css/user_main.css">
    <style>
        
        </style>
</head>
<body id="body-pd">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="http://127.0.0.1:8000/" class="nav__logo">Please, SungGong!</a>
                </div>
                <div class="nav__list">
                    <a href="http://127.0.0.1:8000/" class="nav__link">
                        <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">HOME</span>
                    </a>

                    <a href="http://127.0.0.1:8000/user_mypage/" class="nav__link">
                        <ion-icon name="person-circle-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">MYPAGE</span>
                    </a>

                    <div href="http://127.0.0.1:8000/equipinfo/" class="nav__link collapse">
                        <ion-icon name="construct-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">PRODUCT</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <a href="http://127.0.0.1:8000/equipinfo/#notebook_equip" class="collapse__sublink">Equipment</a>
                            <a href="http://127.0.0.1:8000/equipinfo/#lab_equip" class="collapse__sublink">Lab</a>
                        </ul>
                    </div>

                    <a href="http://127.0.0.1:8000/user_history/" class="nav__link">
                        <ion-icon name="receipt-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">HISTORY</span>
                    </a>

                    <a href="#" class="nav__link">
                        <ion-icon name="notifications-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">NOTICE</span>
                    </a>
                    
                    
                </div>
                <a href="#" class="nav__link">
                    <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">LOG OUT</span>
                </a>
            </div>
        </nav>
    </div>


    <div id="container" class="main_container">
        <div class = "center_top">
          <img src="../static/img/user_main_title.PNG" alt>

        </div>
        <div class = "center_middle">
            <div class ="middle_rank">
                <p class = "rank_text">
                    "학생들이 많이 찾는"
                    <span>실습장비 BEST</span>
                </p>
                <p class="rank_test_hide">인기 카테고리</p>
                <ul class="rank_list">
                    <li>
                        <a href = "http://127.0.0.1:8000/equipinfo/#raspberrypi_equip">
                            <img src="../static/img/rasberrypi_img.PNG" alt>
                            <p>라즈베리파이</p>
                            <p>재고: 03개</p>
                        </a>                      
                    </li>
                    <li>
                        <a href = "http://127.0.0.1:8000/equipinfo/#arduino_equip">
                            <img src="../static/img/arduino_img.PNG" alt>
                            <p>아두이노</p>
                            <p>재고: 08개</p>
                        </a>                       
                    </li>
                    <li>
                        <a href = "http://127.0.0.1:8000/equipinfo/#notebook_equip">
                            <img src="../static/img/lggram_img.PNG" alt>
                            <p>노트북</p>
                            <p>재고: 10개</p>
                        </a>                       
                    </li>
                    <li>
                        <a href = "http://127.0.0.1:8000/equipinfo/#cable_equip">
                            <img src="../static/img/hdmi_img.PNG" alt>
                            <p>케이블</p>
                            <p>재고: 06개</p>
                        </a>                       
                    </li>
                </ul>
            </div>
        </div>

        
          
        <div class="center_bottom">
            <div class="bottom_title">
                {% for User in Users %}
                <p class = "rank_text">
                    "{{User.name}}" 학생의
                </p>
                {% endfor %}
                
                <h2 class="bottom_txt">
                   대여 내역
                   <br>
                   <br>
                </h2>
            </div>

            <div class="jumbotron">
                <div class="jum_title">
                    {% for now_userID in NOW_userID_list %}
                    <ul>
                        <li> {{now_userID.equipInfo}} </li>
                    </ul>
                    {% endfor %}
                </div>
                

                <div class="jum_btn">
                    <button class="custom-btn btn-12" onclick = 'user_history()'><span>바로가기!</span><span>대여상세</span></button>
                </div>
            
        </div>           
    </div>

   
        
       
        
        <!-- ai -->
        <div class="button-container" id="scrollDownPc" class="hidden-md hidden-sm hidden-xs" >
            <a class="button1" href="http://127.0.0.1:8000/user_main/">
              <span class="content">성공AI</span>
              <span class="effect circle-1"></span>
              <span class="effect circle-2"></span>
            </a>
          </div>





    <!-- IONICONS -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="../static/js/user_main_sidevar.js"></script>

    <script>
        function user_history()  {
         window.location.href = 'http://127.0.0.1:8000/user_history/'
        }
    </script>
</body>
</html>