<!DOCTYPE html>
<html lang="ko">

<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title> 대여현황 </title>

  
  <link rel="stylesheet" href="../static/css/user_main_sidevar.css">
  <link rel="stylesheet" href="../static/css/user_equipment.css">
  <link rel="stylesheet" href="../static/css/user_main.css">

  <style>
    .c1 {
      clear: both;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      padding-left: 110px;
      padding-right: 60px;
  }


    .c2 {
      padding-top: 40px;
      padding-bottom: 50px;
      
    }

    .sub_title1{
      padding-top: 10px;
      padding-bottom: 1000px;
    }

    .sub_title2{
      padding-top: 5px;
      height: 800px;
    }


  </style>

</head>

<body id="body-pd">

  <div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="http://127.0.0.1:8000/" class="nav__logo">Please, SungGong!</a>
            </div>
            <div class="nav__list">
              <a href="http://127.0.0.1:8000/" class="nav__link">
                <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">HOME</span>
            </a>

                <a href="http://127.0.0.1:8000/user_mypage/" class="nav__link">
                    <ion-icon name="person-circle-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">MYPAGE</span>
                </a>

                <div href="http://127.0.0.1:8000/equipinfo/" class="nav__link collapse">
                    <ion-icon name="construct-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">PRODUCT</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="http://127.0.0.1:8000/equipinfo/#notebook_equip" class="collapse__sublink">Equipment</a>
                        <a href="http://127.0.0.1:8000/equipinfo/#lab_equip" class="collapse__sublink">Lab</a>
                    </ul>
                </div>

                <a href="http://127.0.0.1:8000/user_history/" class="nav__link">
                    <ion-icon name="receipt-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">HISTORY</span>
                </a>

                <a href="#" class="nav__link">
                    <ion-icon name="notifications-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">NOTICE</span>
                </a>
                
                
            </div>
            <a href="#" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">LOG OUT</span>
            </a>
        </div>
    </nav>
</div>





    <div class="c1">

      <div class = "c2">

        <div class="main_dropdown">
          <button id="type" class="dropdown_btn" type="button" data-toggle="dropdwn" aria-haspopup="true"
            aria-expanded="false">
            <span class="text">현황&내역</span>
            <span class="caret"></span>
          </button>
  
        <div class="dropdown-content">
          <a href="#now">현황</a>
          <a href="#past">내역</a>   
        </div>
  
        </div>

      </div>


      <div class = "sub_title1">

        <h4 style="display:inline-block;" id = "now">
          대여한 장비(현황)</h4>
  
        <div class="table_list_borrow table_list_responsive">
          <table class="table table-striped table-hover table-condensed">
  
            <colgroup class="visible-xs-block visible-sm-block">
              <col style="width:100px;">
            </colgroup>
            <thead>
              <tr style="background-color:rgba(255, 153, 0); color: white;">
                <th scope="col" style=" text-align: center;">장비 코드</th>
                <th scope="col" style=" text-align: center;">대여 장비</th>
                <th scope="col" style=" text-align: center;">대여 날짜</th>
                <th scope="col" style=" text-align: center;">반납 날짜</th>
              </tr>
            </thead>
            <tbody>
                {% for now_userID in NOW_userID_list %}
                <tr>
                  <td>{{now_userID.equipID_id}}</td>
                  <td>{{now_userID.equipInfo}}</td>
                  <td>{{now_userID.rentingDate}}</td>
                  <td>{{now_userID.returningDate}}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>


      <div class = "sub_title2">

        <h4 style="display:inline-block;" id = "past">
          내역</h4>
  
        <div class="table_list_borrow table_list_responsive">
          <table class="table table-striped table-hover table-condensed"ㄴ>
  
            <colgroup class="visible-xs-block visible-sm-block">
              <col style="width:100px;">
            </colgroup>

            <thead>
              <tr style="background-color:rgba(255, 153, 0); color: white;">
                <th scope="col" style=" text-align: center;">장비 코드</th>
                <th scope="col" style=" text-align: center;">대여 장비</th>
                <th scope="col" style=" text-align: center;">대여 날짜</th>
                <th scope="col" style=" text-align: center;">반납 날짜</th>
              </tr>
            </thead>
            <tbody>
                {% for past_userID in NOW_userID_list %}
                <tr>
                  <td>{{past_userID.equipID_id}}</td>
                  <td>{{past_userID.equipInfo}}</td>
                  <td>{{past_userID.rentingDate}}</td>
                  <td>{{past_userID.returningDate}}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>

      </div>

      
    </div>

    <div class="button-container" id="scrollDownPc" class="hidden-md hidden-sm hidden-xs" >
      <a class="button1" href="http://127.0.0.1:8000/user_main/">
        <span class="content">성공AI</span>
        <span class="effect circle-1"></span>
        <span class="effect circle-2"></span>
      </a>
    </div>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="../static/js/user_main_sidevar.js"></script>

</body>

</html>