<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>실습장비</title>


  <link rel="stylesheet" href="/static/css/user_equipment.css">
  <link rel="stylesheet" href="../static/css/user_main_sidevar.css">
  <link rel="stylesheet" href="../static/css/user_main.css">



<body id="body-pd">

  <div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="http://127.0.0.1:8000/" class="nav__logo">Please, SungGong!</a>
            </div>
            <div class="nav__list">

              <a href="http://127.0.0.1:8000/" class="nav__link">
                <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">HOME</span>
            </a>

                <a href="http://127.0.0.1:8000/user_mypage/" class="nav__link">
                    <ion-icon name="person-circle-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">MYPAGE</span>
                </a>

                <div href="http://127.0.0.1:8000/equipinfo/" class="nav__link collapse">
                    <ion-icon name="construct-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">PRODUCT</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="http://127.0.0.1:8000/equipinfo/#notebook_equip" class="collapse__sublink">Equipment</a>
                        <a href="http://127.0.0.1:8000/equipinfo/#lab_equip" class="collapse__sublink">Lab</a>
                    </ul>
                </div>

                <a href="http://127.0.0.1:8000/user_history/" class="nav__link">
                    <ion-icon name="receipt-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">HISTORY</span>
                </a>

                <a href="#" class="nav__link">
                    <ion-icon name="notifications-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">NOTICE</span>
                </a>
                
                
            </div>
            <a href="#" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">LOG OUT</span>
            </a>
        </div>
    </nav>
</div>
  


  <div id="contents-main">
    <div class="main_top">

      <div class="main_dropdown">
        <button id="type" class="dropdown_btn" type="button" data-toggle="dropdwn" aria-haspopup="true"
          aria-expanded="false">
          <span class="text">품목</span>
          <span class="caret"></span>
        </button>

      <div class="dropdown-content">
        <a href="#notebook_equip">노트북</a>
        <a href="#raspberrypi_equip">라즈베리파이</a>
        <a href="#arduino_equip">아두이노키트</a>
        <a href="#webcam_equip">웹캠</a>
        <a href="#gradue_equip">졸업작품물품</a>
        <a href="#cable_equip">케이블</a>
        <a href="#tablet_equip">태블릿</a>
        <a href="#tabletpc_equip">태블릿PC</a>
        <a href="#cdrom_equip">CD롬</a>
        <a href="#lab_equip">실습실</a>       
      </div>

      </div>

    </div>

    <!--노트북-->
    <div class="be_table" id="notebook">
      <p>노트북</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for notebook in notebooks %}
          <tr>
            {% if notebook.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{notebook.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{notebook.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{notebook.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
  
    <!--라즈베리파이-->
    <div class="be_table" id="raspberrypi_equip">
      <p>라즈베리파이</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for raspberrypi in raspberrypis %}
          <tr>
            {% if raspberrypi.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{raspberrypi.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{raspberrypi.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{raspberrypi.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>

    </div>
    
    <!--아두이노키트-->
    <div class="be_table" id="arduino_equip">
      <p>아두이노키트</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for arduino in arduinos %}
          <tr>
            {% if arduino.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{arduino.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{arduino.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{arduino.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    
    <!--웹캠-->
    <div class="be_table" id="webcam_equip">
      <p>웹캠</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for webcam in webcams %}
          <tr>
            {% if webcam.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{webcam.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{webcam.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{webcam.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>

    </div>
    
    <!--졸업작품물품-->
    <div class="be_table" id="gradue_equip">
      <p>졸업작품물품</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for jol in jols %}
          <tr>
            {% if jol.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{jol.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{jol.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{jol.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    
    <!--케이블-->
    <div class="be_table" id="cable_equip">
      <p>케이블</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for cable in cables %}
          <tr>
            {% if cable.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{cable.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{cable.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{cable.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    
    <!--태블릿-->
    <div class="be_table" id="tablet_equip">
      <p>태블릿</p>
        <div class="table-wrap">
          <table class="table">
          <thead class="thead-primary">
          <tr>
          <th>대여가능여부</th>
          <th>대여품명</th>
          <th>장비상태</th>
          <th>정보</th>
          <th>대여신청하기</th>
          </tr>
          </thead>
          <tbody>
    
            {% for tablet in tablets %}
            <tr>
              {% if tablet.isRented == 0 %}
              <td>대여가능</td>
              {% else %}
              <td>대여중</td>
              {% endif %}
              <td>{{tablet.equipID}}</td>          
              {% if equip.status == 0 %}
              <td>불량</td>
              {% elif equip.status == 1 %}
              <td>하</td>
              {% elif equip.status == 2 %}
              <td>중</td>
              {% else %}
              <td>상</td>
              {% endif %}
              <td>{{tablet.equipInfo}}</td>
              <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{tablet.equipID}}'" class="btn btn-primary">대여 신청</a></td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
          
  
      </div>
    </div>
    
    <!--태블릿PC-->
    <div class="be_table" id="tabletpc_equip">
      <p>태블릿PC</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for tabletpc in tabletpcs %}
          <tr>
            {% if tabletpc.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{tabletpc.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{tabletpc.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{tabletpc.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    
    <!--CD롬-->
    <div class="be_table" id="cdrom_equip">
      <p>CD롬</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for cdrom in cdroms %}
          <tr>
            {% if cdrom.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{cdrom.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{cdrom.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{cdrom.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>

    </div>
    
    <!--실습실-->
    <div class="be_table" id="lab_equip">
      <p>실습실</p>
      <div class="table-wrap">
        <table class="table">
        <thead class="thead-primary">
        <tr>
        <th>대여가능여부</th>
        <th>대여품명</th>
        <th>장비상태</th>
        <th>정보</th>
        <th>대여신청하기</th>
        </tr>
        </thead>
        <tbody>
  
          {% for lab in labs %}
          <tr>
            {% if lab.isRented == 0 %}
            <td>대여가능</td>
            {% else %}
            <td>대여중</td>
            {% endif %}
            <td>{{lab.equipID}}</td>          
            {% if equip.status == 0 %}
            <td>불량</td>
            {% elif equip.status == 1 %}
            <td>하</td>
            {% elif equip.status == 2 %}
            <td>중</td>
            {% else %}
            <td>상</td>
            {% endif %}
            <td>{{lab.equipInfo}}</td>
            <td><a onclick="location.href='http://127.0.0.1:8000/rental/?equipid={{lab.equipID}}'" class="btn btn-primary">대여 신청</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
  
    
  
  
  </div>

  <div class="button-container" id="scrollDownPc" class="hidden-md hidden-sm hidden-xs" >
    <a class="button1" href="http://127.0.0.1:8000/user_main/">
      <span class="content">성공AI</span>
      <span class="effect circle-1"></span>
      <span class="effect circle-2"></span>
    </a>
  </div>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <!-- JS -->
  <script src="../static/js/user_main_sidevar.js"></script>

 
</body>
</html>