<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>대여/신청페이지</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <link rel="stylesheet" href="../static/css/user_equipment.css">
  <link rel="stylesheet" href="../static/css/user_main_sidevar.css">

  <link rel="stylesheet" href="../static/css/user_main.css">

  <link rel="stylesheet" href="../static/css/user_mypage.css">
  


  <style>

  

    .container{
      place-items: center;
      min-height: 100vh;
    }

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
    
    .mb-3 {
    margin-bottom: 1.8rem!important;
  }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>
</head>

<body id="body-pd">
  <div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="http://127.0.0.1:8000/" class="nav__logo">Please, SungGong!</a>
            </div>
            <div class="nav__list">

              <a href="http://127.0.0.1:8000/" class="nav__link">
                <ion-icon name="storefront-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">HOME</span>
            </a>

                <a href="http://127.0.0.1:8000/user_mypage/" class="nav__link">
                    <ion-icon name="person-circle-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">MYPAGE</span>
                </a>

                <div href="http://127.0.0.1:8000/equipinfo/" class="nav__link collapse">
                    <ion-icon name="construct-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">PRODUCT</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="http://127.0.0.1:8000/equipinfo/#notebook_equip" class="collapse__sublink">Equipment</a>
                        <a href="http://127.0.0.1:8000/equipinfo/#lab_equip" class="collapse__sublink">Lab</a>
                    </ul>
                </div>

                <a href="http://127.0.0.1:8000/user_history/" class="nav__link">
                    <ion-icon name="receipt-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">HISTORY</span>
                </a>

                <a href="#" class="nav__link">
                    <ion-icon name="notifications-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">NOTICE</span>
                </a>
                
                
            </div>
            <a href="#" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">LOG OUT</span>
            </a>
        </div>
    </nav>
</div>

  <div class="container">
    <div class="input-form-backgroud row">
      <div class="input-form col-md-12 mx-auto">
        <h4 class="mb-3" style="background-color: rgba(255, 153, 0); color: white; text-align: center;">대여 신청서</h4>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="row">
            
            {% for user in Users %}
              <div class="col-md-6 mb-3">             
                <label for="userid" style="text-decoration:underline overline">학번 : {{user.studentID}} </label>
              </div>
              <div class="col-md-6 mb-3">
                <label for="username" style="text-decoration:underline overline">이름 : {{user.name}} </label>
              </div>
            
            <div class="col-md-6 mb-3">
              <label for="phonenum" style="text-decoration:underline overline">전화번호 : {{user.phoneNum}}</label>
            </div>
            </div>
            {% endfor %}
          
          <div class="mb-3">
            {% for pr_equipid in pr_equipids%}
            <label for="equipid" style="text-decoration:underline overline">대여품목 : {{pr_equipid.equipID}}</label> 
            {% endfor %}
          </div>
      

          <div class="mb-3">
            <label for="rentdate">대여날짜</label>
            <input type="date" class="form-control" name="rentdate">
            <div class="invalid-feedback">
              
            </div>
          </div>

          <div class="mb-3">
            <label for="returndate">반납날짜</label>
            <input type="date" class="form-control" name="returndate">
            <div class="invalid-feedback">
              
            </div>
          </div>


          
          <div class="mb-4"></div>
          <button class="btn btn-primary btn-lg btn-block" type="submit" style="margin: 0 auto;">신청 완료</button>
        </form>
      </div>
    </div>
    
  </div>






    
  </div>

  <div class="button-container" id="scrollDownPc" class="hidden-md hidden-sm hidden-xs" >
    <a class="button1" href="http://127.0.0.1:8000/user_main/">
      <span class="content">성공AI</span>
      <span class="effect circle-1"></span>
      <span class="effect circle-2"></span>
    </a>
  </div>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <!-- JS -->
  <script src="../static/js/user_main_sidevar.js"></script>
  
 

</body>

</html>